@font-face {
    font-family: "Rosmatika";
    src: url("/fonts/Rosmatika 400.ttf") format("ttf");
}

@font-face {
    font-family: "Droid";
    src: url("/fonts/droid-serif-bold.ttf") format("ttf");
}

@font-face {
    font-family: "P22 Underground";
    src:    url("/fonts/P22 Underground Pro/P22UndergroundCYPro-Thin.otf")   format("otf") font-weight-thin,
            url("/fonts/P22 Underground Pro/P22UndergroundCYPro-Medium.otf") format("otf") font-weight-medium,
            url("/fonts/P22 Underground Pro/P22UndergroundCYPro-Heavy.otf")  format("otf") font-weight-heavy,
            url("/fonts/P22 Underground Pro/P22UndergroundCYPro-Demi.otf")   format("otf") font-weight-demi,
            url("/fonts/P22 Underground Pro/P22UndergroundCYPro-Book.otf")   format("otf") font-weight-book;
}





// Mannière plus longue de l'écrire

// @font-face {
//     font-family: "P22 Underground";
//     src:    url("/fonts/P22 Underground Pro/P22UndergroundCYPro-Thin.otf") format("otf");
//     font-weight: thin;
// }
// @font-face {
//     font-family: "P22 Underground";
//     src:    url("/fonts/P22 Underground Pro/P22UndergroundCYPro-Medium.otf") format("otf");
//     font-weight: medium;
// }
// @font-face {
//     font-family: "P22 Underground";
//     src:    url("/fonts/P22 Underground Pro/P22UndergroundCYPro-Heavy.otf") format("otf");
//     font-weight: heavy;
// }
// @font-face {
//     font-family: "P22 Underground";
//     src:    url("/fonts/P22 Underground Pro/P22UndergroundCYPro-Demi.otf") format("otf");
//     font-weight: demi;
// }
// @font-face {
//     font-family: "P22 Underground";
//     src:    url("/fonts/P22 Underground Pro/P22UndergroundCYPro-Book.otf") format("otf");
//     font-weight: book;
// }