
@import "libs/reset.scss";
@import "fonts.scss";

%Flex { margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

body{
    background-color: aqua;
}


h1{
    font-family: "Rosmatika";
}