html{
    body{
        background-color: black;
        font-family: 'Droid Serif Bold', arial;
        .AlignCenter{
            text-align: center;
        }
        .AlignRight{
            text-align: right;
        }
        .MaxWidth{
            width: 100%;
        }
        .nav{
            a{   
                text-align: right;
                color: whitesmoke;
            }
        }
    }
}