@font-face {
    font-family: "Rosmatika";
    src: url("font/Rosmatika 400.ttf") format("ttf");}
html{
    body{
        color: whitesmoke;
        background-color: black;
        font-family: 'Droid Serif Bold', arial;
        .GoldenBorder{
            border-color: #BF8D46;
            border-style: solid;
        }
        .GoldenButton{
            color:#BF8D46;
            background-color: black;
            border-style: none;
        }
        .AlignCenter{
            text-align: center;
        }
        .AlignRight{
            text-align: right;
        }
        .MaxWidth{
            width: 100%;
        }
        .nav{
            padding: 1rem;
            justify-content: right;
            text-decoration: none;
            list-style: none;
            display: list-item inline;
            color: whitesmoke;
            img{
                size: 2rem;
            }
            a{   
                text-align: right;
                color: whitesmoke;
            }
        }
        h1{
            font-family:Rosmatika;
            color: #BF8D46;
            text-align: center;
        }
    }
}